<a href="https://colab.research.google.com/github/luisfranc123/Tutorials_Statistics_Numerical_Analysis/blob/main/Numerical_Methods/Chapter3_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**3. Functions**
---

**Textbook**: Phyton Programming and Numerical Methods

##**3.1 Function Basics**

In programing, a **function** is a sequence of instructions that performs a specific task.

###**Define your own function**

In [ ]:
def function_name(parameter_1, parameter_2, ...):
  """
  Descriptive String
  """
  # Comment about the statements
  function_statements

  return output_parameters (optional)

- *Descriptive string*, which is string that describes the function that can be accessed by the help()
function or the question mark. The triple single or triple double quotes show where to put (or
locate) your descriptive strings. You can write any strings inside the quotes, either in one line or
multiple lines.
- *Function statements*, which are the step-by-step instructions the function will execute when
calling the function. Note that there is a line that starts with #; this is a single line comment,
which means that it is not part of the function and cannot be executed.
- *Return statements*, which may contain some parameters to be returned after the function is called.
As discussed in more detail later, any data type can be returned, even a function.

In [ ]:
def my_adder(a, b, c):
  """
  function to sum the 3 numbers
  Input: 3 numbers a, b, c
  Output: the sum of a, b, and c
  author:
  date:
  """

  # this is the summation
  out = a + b + c
  return out

In [ ]:
my_adder(1, 2, 3)

6

In [ ]:
my_adder(4, 5, 6)

15

In [ ]:
help(my_adder)

Help on function my_adder in module __main__:

my_adder(a, b, c)
    function to sum the 3 numbers
    Input: 3 numbers a, b, c
    Output: the sum of a, b, and c
    author:
    date:

In [ ]:
import numpy as np
d = my_adder(np.sin(np.pi), np.cos(np.pi), np.tan(np.pi))
d

np.float64(-1.0)

In [ ]:
def my_trig_sum(a, b):
  """
  functio to demo return multiple
  autohr
  date
  """
  out1 = np.sin(a) + np.cos(b)
  out2 = np.sin(b) + np.cos(a)
  return out1, out2, [out1, out2]

In [ ]:
c, d, e, = my_trig_sum(2, 3)
print(f"c = {c}, d = {d}, e = {e}")

c = -0.0806950697747637, d = -0.2750268284872752, e = [np.float64(-0.0806950697747637), np.float64(-0.2750268284872752)]

A function can be defined without an input argument and returning any value. For example:

In [ ]:
def print_hello():
  print("Hello")

print_hello()
# Note! Even there is no input argument, when you call the function,
# you still need to include the parentheses.

Hello

For the input of the argument, we can include the default value as well. See the following example:

In [ ]:
def print_greeting(day = "Monday", name = "Oingkai"):
  print(f"Greetings, {name}, today is {day}")

print_greeting()

Greetings, Oingkai, today is Monday

In [ ]:
print_greeting(name = "Timmy", day = "Friday")

Greetings, Timmy, today is Friday

In [ ]:
print_greeting(name = "Alex")

Greetings, Alex, today is Monday

###**Local Variables and Global Variables**

A function has its own memory block that is reserved for variables created within that function: This block of memory is not shared with the whole noteook memory block. Therefore, a variable with a given name can be assigned within a function without changing a variable with the same name outside of the function.

In [ ]:
def my_addr(a, b, c):
  out = a + b + c
  print(f"The value out within the function is {out}")
  return

out = 1
d = my_adder(1, 2, 3)
print(f"The value out outside the function is {out}")

The value out outside the function is 1

###**Nested Functions**

A **nested function** is a function that is defined within another function -- **parent function**. Only the parent function is able to call nested function. Remember that the nested function retains a separate memory block from its parnt function.

In [ ]:
def my_dist_xyz(x, y, z):
  """
  x, y, z, are 2D coordinates contained in a tuple
  output:
  d = list, where
  d[0] is the distance betwen x and y
  d[1] is the distance betwen x and z
  d[2] is the distance betwen y and z
  """

  def my_dist(x, y):
    """
    subfunction for my_dist_xyz
    Output is the distance between x and y,
    computed using the distance formula.
    """
    out = np.sqrt((x[0]-y[0])**2+(x[1]-y[1])**2)
    return out

  d0 = my_dist(x, y)
  d1 = my_dist(x, z)
  d2 = my_dist(y, z)

  return [d0, d1, d2]

In [ ]:
d = my_dist_xyz((0, 0), (0, 1), (1, 1))
print([float(x) for x in d])

[1.0, 1.4142135623730951, 1.0]

In [ ]:
help(my_dist_xyz)

Help on function my_dist_xyz in module __main__:

my_dist_xyz(x, y, z)
    x, y, z, are 2D coordinates contained in a tuple
    output:
    d = list, where
    d[0] is the distance betwen x and y
    d[1] is the distance betwen x and z
    d[2] is the distance betwen y and z

###**Lambda Functions**

Sometimes it is not optimal to define a function the usual way, epecially if our function is just one line. In this case, we use the anonyous function in Python, which is a function that is defined without a name. These types of function are also called **lamda function**, since they are defined using the `lambda` keyword.

**Construction**:

`lambda arguments: expression`

It can have ay number of arguments but has only one expression.

In [ ]:
square = lambda x: x**2
print(square(2))
print(square(7))

4
49

In [ ]:
# Define a lambda function, which adds x and y.

my_adder = lambda x, y: x + y

print(my_adder(2, 5))

7

In [ ]:
# Example: sort [(1, 2), (2, 0), (4, 1)] based on the second item in the tuple

sorted([(1, 2), (2, 0), (4, 1)], key = lambda x: x[1])

[(2, 0), (4, 1), (1, 2)]

What happens? The function `sorted` has an argument `key`, where a custom key function can be supplied
to customize the sort order. We use the lambda function as a shortcut for this custom key function.

###**Functions as Arguments to Functions**

Up until now, we have assigned varous data structures to variables names. Being able to assign a data structure to a variable allows for the passing of information to the various functions and retrieve information back form them in a neat and orderly way. Sometimes it is useful to be able to pass a function and have it act as a variable to another function. In other words, the input to some functions may be other functions.

In [ ]:
f = max
print(type(f))

<class 'builtin_function_or_method'>

In [ ]:
# Now f and max are interchengeable:
print(f([2, 3, 5]))
print(max([2, 3, 5]))

5
5

Write a function `my_fun_plus_one` that takes a function object, `f`, and a ﬂoat number `x`as input arguments; `my_fun_plus_one` should return `f` evaluated at `x`, and the result added to the value 1. Verify that it works for various functions and values of x.

In [ ]:
def myfun_plus_one(f, x):
  return f(x) + 1

print(myfun_plus_one(np.sin, np.pi/2))
print(myfun_plus_one(np.cos, np.pi/2))
print(myfun_plus_one(np.sqrt, 25))

2.0
1.0
6.0

In [ ]:
# We can use the lambda function as well

print(myfun_plus_one(lambda x: x + 2, 2))

5

##**Problems**
---

1. Recall that the hyperbolic sine, denoted by sinh, is $$
\frac{exp(x)-exp(-x)}{2}
$$

Write a function `my_sinh(x)` where the output `y` is the hyperbolic sine computed on *x*. Assume that `x` is a 1 by 1 float.

In [ ]:
import math
def my_sinh(x):
  """
  This function calculates the sinh
  of a given float input
  """
  y = (math.exp(x) - math.exp(-x))/2
  return y

In [ ]:
my_sinh(0)

0.0

In [ ]:
my_sinh(1)

1.1752011936438014

In [ ]:
my_sinh(2)

3.626860407847019

2. Write a function `my_checker_board(n)` where the output `m` is an *n × n* array with the following form:

m =
[[10101],
[01010],
[10101],
[01010],
[10101]]

In [ ]:
def my_checker_board(n):
  """
  The function creates a 2D array
  having ones every two rows at the beginning
  """
  #np.randint(0, 1)
  m = np.ones([n, n])


  return m

In [ ]:
my_checker_board(3)

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [ ]:
def my_checker_board_(n):
  return [[(i + j) % 2 for i in range(n)] for j in range(n)]

In [ ]:
my_checker_board_(5)

[[0, 1, 0, 1, 0],
 [1, 0, 1, 0, 1],
 [0, 1, 0, 1, 0],
 [1, 0, 1, 0, 1],
 [0, 1, 0, 1, 0]]

In [ ]:
#for i in
data_list = my_checker_board(5)[:, 4].tolist()
for i in range(1, len(data_list), 2):
  new_data_list = data_list[i] - 1
  print(data_list)

[1.0, 1.0, 1.0, 1.0, 1.0]
[1.0, 1.0, 1.0, 1.0, 1.0]