<a href="https://colab.research.google.com/github/luisfranc123/Tutorials_Statistics_Numerical_Analysis/blob/main/Numerical_Methods/Chapter5_Iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**5. Iteration**
---

**Textbook**: Phyton Programming and Numerical Methods

###**5.1. For-Loops**

A **for-loop** is a set of instructions that repeated, or iterated, for every value in a sequence.

In [ ]:
# What is the sum of every integer from 1 to 3?
n = 0
for i in range(1, 4):
  n = n + i

print(n)

6

Below are several more examples to give you a sense of how for-loops work. Other examples of sequences that we can iterate over include the elements of a tuple, the characters in a string, and other sequencial data types.

In [ ]:
# Print all the characters in the string "banana".

for c in "banana":
  print(c)

b
a
n
a
n
a

Alternatively, you can use the index to get each character, but it is not as concise as the previous example. Recall that the length of a string can be determined by using the `len` function, and we can ignore the start by only giving one number as the stop.

In [ ]:
s = "banana"
for i in range(len(s)):
  print(s[i])

b
a
n
a
n
a

In [ ]:
# Given a list of integers, `a`, add all the elements of `a`.
s = 0
a = [2, 3, 1, 3, 3]
for i in a:
  s += i # note this is equivalent to s = s + i
print(s)

12

The Python function `sum` has already been written to handle the previous example. What if you want to add the even indices numbers only? What change(s) would you make to the previous `for-loop` block to handle this restriction?

In [ ]:
s = 0
for i in range(0, len(a), 2):
  s += a[i]
print(s)

6

In [ ]:
# Define a dictionary and loop through all the keys and values.

dict_a = {"one": 1, "Two": 2, "Three": 3}

for key in dict_a.keys():
  print(key, dict_a[key])

one 1
Two 2
Three 3

In [ ]:
for key, value in dict_a.items():
  print(key, value)

one 1
Two 2
Three 3

Note that we can assign two different looping variables at the same time. There are other cases where we can assign tasks simutaneously. For example, if we have two lists with same length and we want to loop through them simultaneously, we use the `zip` function.

In [ ]:
a = ["One", "Two", "Three"]
b = [1, 2, 3]

for i, j in zip(a, b):
  print(i, j)

One 1
Two 2
Three 3

**Example**: Let the function `have_digits` have a string as the input. The output `out` should take the value 1 if the string contains digits, and 0 otherwise. You can apply the `isdigit` method of the string to check if the character is a digit.

In [ ]:
def have_digits(s):
  out = 0

  # loop through the string
  for c in s:
    # check if the character is a digit
    if c.isdigit():
      out = 1
      break

  return out

In [ ]:
out = have_digits("only4you")
print(out)

1

In [ ]:
out = have_digits("only for you")
print(out)

0

In [ ]:
for i in range(5):

  if i == 2:
    continue

  print(i)

0
1
3
4

**Example**: Let the function `my_dist_2_points(xy_points, xy)` where the input argument `xy_points` is a list of x-y coordinates of a point in Euclidean space, `xy` is a list that contains an x-y coordinate, and the output `d` is a list containing the distances from `xy` to the points contained in each row of `xy_points`.

In [ ]:
import math

def my_dist_2_points(xy_points, xy):
  """
  Returns an array of distances between xy and the
  points contained in the rows of xy_points

  Author
  Date
  """

  d = []
  for xy_point in xy_points:
    dist = math.sqrt((xy_point[0] - xy[0])**2 + (xy_point[1] - xy[1])**2)
    d.append(dist)

  return d

# Compile the function:
xy_points = [[3, 2], [2, 3], [2, 2]]
xy = [1, 2]
my_dist_2_points(xy_points, xy)

[2.0, 1.4142135623730951, 1.0]

###**Nested `for-loops`**

Just like `if-statement, for-loops` can be nested.

**Example**: Let `x` be a two-dimensional array, `[5 6; 7 8]`. Use a nested `for-loop` to sum all the elements in `x`.

In [ ]:
# Nested loops
import numpy as np
x = np.array([[5, 6], [7, 8]])
n, m = x.shape
s = 0
for i in range(n):
  for j in range(m):
    s += x[i, j]
print(f"x = {x}")
print(f"sum of elements within x = {s}")

x = [[5 6]
 [7 8]]
sum of elements within x = 26

###**5.2 While Loops**

A **while-loops** or **indefinite loop** is a set of instruction that repeated as long as the associated logical expression is true. The folowing is the abstract syntax of a `while-loop` block.

In [ ]:
# Construction: While Loop
"""
while <logical expression>:
  # Code block to be repeated until logical statement is false
  code block
"""

In [ ]:
# Determine the number of times 8 can be
# divided by 2 until the result is less than 1.

i = 0
n = 8

while n >= 1:
  n /= 2
  i +=1

print(f"n = {n}, i = {i}")

n = 0.5, i = 4

###**5.3 Comprehensions**

In Python, there are other ways to do iterations; list, dictionary, and set **comprehensions** are very popular ways. once you familiarize yourself with them, you will find yourself using them a lot. Comprehensions allow sequences to be created from other sequences employing very compact syntax. Let us first look at the list comprehension.

**Example**: If `x = range(5)`, square each number in `x`, and store it in a list `y`. If we do not use list comprenhension, the code will look something like this:

In [ ]:
# Without list comprehension
x = range(5)
y = []

for i in x:
  y.append(i**2)
print(y)

[0, 1, 4, 9, 16]

In [ ]:
# Using list comprehension:

y = [i**2 for i in x]
print(y)

[0, 1, 4, 9, 16]

In addition, we can also include conditions in the list comprehension. For example, if we just want to store the even numbers in the above example, we just add a condition in the list comprehension.

In [ ]:
y = [i**2 for i in x if i%2 == 0]
print(y)

[0, 4, 16]

If we have two nested levels for loops, we can also use the list comprehensions. For example, we have the folowing two levels for loops thar we can perform using the **list comprehension**.

In [ ]:
# Without list comprehension:
y = []
for i in range(5):
  for j in range(2):
    y.append(i + j)
print(y)

[0, 1, 1, 2, 2, 3, 3, 4, 4, 5]

In [ ]:
# With list comprehension:

y = [i + j for i in range(5) for j in range(2)]
print(y)

[0, 1, 1, 2, 2, 3, 3, 4, 4, 5]

####**Dictionary Comprehension**

Similarly, we can do the **dictionary comprehension** as well. See the followig example.

In [ ]:
x = {"a": 1, "b": 2, "c": 3}
{key:v**3 for (key, v) in x.items()}

{'a': 1, 'b': 8, 'c': 27}

##**Problems**

1. Write a function `my_max(x)` to return the maximum (largest) value in `x`. Do not use the built-in Python function `max`.

In [ ]:
def my_max(x):
  """
  Function that returns the maximum value from a list x

  author
  date
  """
  # Initialize the max value by the first element of the list
  max_value = x[0]
  for num in x:
    if num > max_value:
      #Update the max_value given the condition
        max_value = num

  return max_value

In [ ]:
x = [14, 2, 188, 6998, 10]
my_max(x)

6998

2. Write a function `my_n_max(x, n)` to return a list consisting of the `n` largest elements of `x`. You may use Python's `max` function. You may also assume that `x` is a one-dimensional list with no duplicate entries, and that `n` is strictly positive integer smaller than the length of `x`.

In [ ]:
def my_n_max(x, n):
  """
  Function that returns the n maximum values of a list

  author
  date
  """
  out = []

  for i in range(n):
    out.append(my_max(x))
    x_new = x.remove(my_max(x))


  return out

In [ ]:
x = [7, 9, 11, 5, 80, 3, 4, 6, 2, 1]
out = my_n_max(x, 4)
print(out)

[80, 11, 9, 7]

3. Let `m` be a matrix of positive integers. Write a function `my_trig_odd_even(m)` to return an array `q`, where `q[i, j] = sin(m[i, j])` if `m[i, j]` is even, and `q[i, j] = cos(m[i, j])` if `m[i, j]` is odd.

In [ ]:
import numpy as np
def my_trig_odd_even(m):
  """
  Function that returns an array of sin[i, j] or cos[i, j]
  depending on whether m is even or odd.

  author
  date
  """
  # Find the dimensions of m
  x, y = m.shape
  # Create an emmpty 2D numpy array with x, y dimensions
  q = np.empty((x, y), dtype = np.float64)
  # Loop to iterate through the m elements
  for i in range(x):
   for j in range(y):
      # Conditional that evaluates the trigonometric function depending
      # on whether m is even or odd, respectively.
      if m[i, j] %2 == 0:
        q[i, j] = np.sin(m[i, j])
      else:
        q[i, j] = np.cos(m[i, j])

  return q

In [ ]:
m = np.array([[1, 2, 3], [4, 5, 6]])
my_trig_odd_even(m)

array([[ 0.54030231,  0.90929743, -0.9899925 ],
       [-0.7568025 ,  0.28366219, -0.2794155 ]])

4. The interest *i* on a principle $P_{0}$, is a payment for allowing the bank to use your money. Compound interest is accumulated accoridng to the formula $P_{n}=(1+i)P_{n-1}$, where *n* is the compounding period usually in months or years. Write a function `my_saving_plan(P0, i, goal)` where output is the number of years it will take `P0` to become `goal` at `i%` interest compunded anually.

In [ ]:
def my_saving_plan(P0, i, goal):
  """
  function that calculates the number of
  years needed to reach a goal savings at i%
  interest rate from P0 initial money.

  Author
  Date
  """
  years = 0
  while P0 <= goal:
    P0 = (1+i)*P0
    years += 1

  return years

In [ ]:
my_saving_plan(1000, 0.05, 2000)

15

In [ ]:
my_saving_plan(1000, 0.07, 2000)

11

In [ ]:
my_saving_plan(500, 0.07, 2000)

21

5. (**Pending**) Let `p` be an $m × p$ array and `Q` be a $p × n$ array. As we know, $M = P × Q$ is defined as $M[i, j] = \Sigma P[i, k] · Q[k, j]$. Write a function `my_mat_mult(P, Q)` that uses `for-loops` to compute `M`, the matrix product of `P * Q`. **Hint**: You may need up to three nested `for-loops`.

In [ ]:
import numpy as np
def my_mat_mult(P, Q):
 """
 Function that computes the cross
 product between two matrices.

 Author
 Date
 """

 x, y = P.shape
 z, w = Q.shape
 M = np.empty(x, w)
 #M = np.empty()
 for i in range(x):
  for j in range(y):
    for k in range(z):
      M[i, j] = (P[i, k]*Q[k, j]).sum()

  return M

In [ ]:
#P = np.ones((3, 3))
#my_mat_mult(P, P)

6. A number is prime if it is divisible without remainder only by itself and 1. The number 1 is not a prime. Write a function `my_is_prime(n)` where the output is 1 if `n` is prime and 0 is otherwise. Assume that `n` is a strictly positive integer.

In [ ]:
import numpy as np

def my_is_prime(n):
  """
  Function that evaluates whether n is a prime number or not.

  Author
  Date
  """
  if n <= 1:
    return 0

  # Initialize an empty list to store divisors
  divisors = []
  # Initialize the first prime
  i = 1
  for i in range(1, n + 1):
    if n % i == 0:
      divisors.append(i)

  if len(divisors) == 2:
    return 1
  else:
    return 0

In [ ]:
my_is_prime(121)

0

7. Write a function `my_n_primes(n)` where prime is a list of the ﬁrst `n` primes. Assume that `n` is a strictly positive integer.

In [ ]:
def my_n_primes(n):
  """
  A function that returns a list containing the n first primes

  Date
  Author
  """
  n_primes = []
  for i in range(1, n + 1):
    if my_is_prime(i) == 1:
      n_primes.append(i)

  return n_primes

In [ ]:
my_n_primes(7)

[2, 3, 5, 7]

**(Pending)** 8. Assume you are rolling two six-sided dice, with each side having an equal chance of occurring.
Write a function `my_monopoly_dice()` where the output is the sum of the values of the two dice
thrown but with the following extra rule: if the two dice rolls are the same, then another roll is
made, and the new sum added to the running total. For example, if the two dice show 3 and 4, then
the running total should be 7. If the two dice show 1 and 1, then the running total should be 2 plus
the total of another throw. Rolls stop when the dice rolls are different.

In [ ]:
def my_monopoly_dice():
  """
  """